@import url(http://fonts.googleapis.com/css?family=Ubuntu&v1);

/* http://www.wbotelhos.com.br/2010/05/24/criando-layout-com-css/

Tente separar seus estilos por ordem alfabética e grupos:
1. Nome do componente: div, input, span…;
2. Nome da classe ou ID: div#borda-especial, div.canto-destaque, div#titulo…;
3. Nome do atributo: color: #000, background-color: #FFF, width: 23px….
*/

body#corpo {
    /*"background"  para browsers sem suporte a CSS 3 */
    background-color: #808080;
    font: 10px verdana;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#333333'); /* IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#333333)); /* webkit browsers */
	background: -moz-linear-gradient(top,  #000000,  #333333); /* Firefox 3.6+ */
	background-image: -o-linear-gradient(#000000, #333333); /* Opera 11.10+ */
	height: 95%;
	width: 100%;
}

div#geral {
    margin: 0 auto;
    width: 1100px;
}

div#principal {
	background-color: #808080;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#000000'); /* IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#000000)); /* webkit browsers */
	background: -moz-linear-gradient(top,  #808080,  #000000); /* Firefox 3.6+ */
   	background-image: -o-linear-gradient(#808080, #000000); /* Opera 11.10+ */
	height: 600px;
	margin-bottom: 5px;
	width: 73%;
	float: left;
}

div#sobre {
	background-color: #808080;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#000000'); /* IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#000000)); /* webkit browsers */
	background: -moz-linear-gradient(top,  #808080,  #000000); /* Firefox 3.6+ */
   	background-image: -o-linear-gradient(#808080, #000000); /* Opera 11.10+ */
	height: 600px;
	margin-bottom: 5px;
	width: 25%;
	float: right;
}

#sub-conteudo h1{
	font-size: 20px;
	font-weight: bold;
	color: #808080;
}

div#rodape {
	clear: both;
}

div#menu,
div#rodape,
div#sub-conteudo,
div#principal,
div#sobre {
	border-radius: 8px; /* CSS3 */
	-khtml-border-radius: 8px; /* Safari() */
	-moz-border-radius: 8px; /* Mozilla */
	-opera-border-radius: 8px; /* Opera */
	-webkit-border-radius: 8px; /* Safari */
}

.icones {
	height: 250px;
	width: 250px;
}

.nome {
	height: 50px;
	width: 50px;
}

.perfil {
	height: 600px;
	width: 272px;
}

h1 {
	font-family: 'Ubuntu', arial, serif;		
}